.App{
    justify-content: center;
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
}
.todo-form-input{
    width: 200px;
    font-size: 14px;
}

.home-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    height: 100%;
    font-size: 16px;
}
.todo-form-group{
    display: flex;
    justify-content: center;
}
.app-container {
    width: 400px;
    height: 500px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  
}

.home-container{
     display: flex;
    flex-direction: column;
}

.home-container p{
    margin: 0 0 0 20px;
}

.todos-container{
    height: 350px;
    overflow: scroll;
    list-style: none;
    font-size: 14px;
}