.App{
    justify-content: center;
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
}
.todo-form-input{
    width: 200px;
}

.home-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}
.todo-form-group{
    display: flex;
    justify-content: center;
}
.app-container {
    width: 400px;
    height: 500px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  
}

.home-container{
     display: flex;
    flex-direction: column;
}